language: ruby
rvm:
  - 2.2.3
  - 2.1.7
addons:
  apt:
    packages:
      - libaugeas-dev
      - pkg-config
# use trusty travis infrastructure
sudo: required
dist: trusty
install: gem install rubocop rspec ruby-augeas simplecov coveralls
script:
    - COVERAGE=1 rake spec
    - rubocop
